.carousel-item {
    height: 50vh;
    background-position: center center;
    background-size: cover;
}

.carousel-item.item1 {
    background-image: url("../../../../images/slider/test1.jpg");
}

.carousel-item.item2 {
    background-image: url("../../../../images/slider/test2.jpg");
}

.carousel-item.item3 {
    background-image: url("../../../../images/slider/test3.jpg");
}
