@using StepEbay.Main.Client.Base.Pages.PersonalAccount

<div id="flex">

    <div>
        <span class="header">Активні аукціони</span>
        @foreach (var product in _products.List)
        {
            if (product.PurchaseTypeId == 1)
            {
                <li>@product.Title</li>
                <li>@product.DateClosed</li>
            }
        }
    </div>

    <div>
        <span class="header">Покупки</span>
        @foreach (var product in _products.List)
        {
            if (product.PurchaseTypeId == 2)
            {
                <li>@product.Title</li>
                <li>@product.DateClosed</li>
            }
        }
    </div>
    <PersonalAccount />
</div>


