#addProduct {
    padding-top: 45px;
}

#addProduct div {
    padding: 0 !important;
}

#addProduct .accordion {
    margin: 45px 0 45px 0;
}


.accordion-button:focus {
    z-index: 3;
    border-color: var(--clr-dark-grey);
    outline: 0 !important;
    /* I changed the color on this line */
    /* If you do not want any color, just delete */
    /*box-shadow: 0 0 0 0.25rem rgba(139, 198, 93, 0.25);*/
    box-shadow: 0 0 0 0.25rem rgba(198, 194, 194, 0.25);
}

.accordion-button:not(.collapsed) {
    color: white;
    font-weight: 700;
    background-color: var(--clr-dark-grey);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../../icons/arrow.svg);
    transform: rotate(-180deg);
    fill: red;
}

.groupInput {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input, label, .form-select {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 40px;
        line-height: 1 !important;
    }

    .form-select{
        border-radius: 0 !important;
        box-shadow:none;
    }

    input {
        border: 1px solid var(--clr-light-grey);
        /*        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -khtml-border-radius: 0 10px 10px 0;*/
        background: #ffffff !important;
        outline: none;
        padding: 5px;
        padding-left: 15px;
        width: 65%;

        &:focus {
            color: var(--clr-black);
            border: 1px solid var(--clr-green)
        }

        &:active {
            border: 1px solid var(--clr-green)
        }
    }

    label {
        border: 1px solid var(--clr-green);
        /*        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -khtml-border-radius: 10px 0 0 10px;*/
        background: var(--clr-green);
        outline: none;
        padding: 5px;
        width: 35%;
        padding-left: 15px;
        padding-top: 11px;

        &:focus {
            color: var(--clr-black);
            border: 1px solid var(--clr-black)
        }
    }
}

.noPhoto{
    width:180px;
    height:180px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

#addProduct .accordion-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid var(--clr-light-grey);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.file-input-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid var(--clr-light-grey);
    border-radius: 3px;
    color: var(--clr-black);
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 40px;
    background-image: url('paper-clip.png');

    &:before {
        content: 'Select some files';
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    &:hover {
        background-color: var(--clr-green);
        color: white;
    }
}

.file-input-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.productDescB {
    border: 1px solid var(--clr-dark-grey);
    margin: 15px 0;
}

.productDesc {

    div {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid var(--clr-green);
        background: var(--clr-green);
        padding: 5px;
        padding-left: 15px;
        padding-top: 11px;
        font-size: 1em;
        margin: 0;
        width: 100%;
    }

    p {
        border: 1px solid var(--clr-green);
        padding: 5px;
        width: 100%;
        padding-left: 15px;
        padding-top: 11px;
        font-size: 1em;
        margin: 0;
    }

    .removeDescBtn {
        border: 1px solid var(--clr-dark-grey);
        background-color: var(--clr-dark-grey);
        width: 30%;
        color: white;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--clr-red);
            background-color: var(--clr-red);
        }
    }
}

h2.productDesc {
    box-sizing: border-box;
    background: var(--clr-dark-grey);
    padding: 5px;
    padding-left: 15px;
    padding-top: 11px;
    font-size: 1em;
    margin: 0;
    width: 100%;
    text-align:center;
    color:white;
}



.buttonFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 60%;
    }

    h2.productDescBtn {
        margin: 15px 0;
        padding:15px;
        width: 40%;
        background: var(--clr-orange);
        cursor: pointer;
        text-align:right;

        &:hover {
            background-color: var(--clr-green);
        }
    }
}