#settings {
    padding-top: 45px;
}

#settings div {
    padding: 0 !important;
}

#settings .accordion {
    margin: 45px 0 45px 0;
}


.accordion-button:focus {
    z-index: 3;
    border-color: var(--clr-dark-grey);
    outline: 0 !important;
    /* I changed the color on this line */
    /* If you do not want any color, just delete */
    /*box-shadow: 0 0 0 0.25rem rgba(139, 198, 93, 0.25);*/
    box-shadow: 0 0 0 0.25rem rgba(198, 194, 194, 0.25);
}

.accordion-button:not(.collapsed) {
    color: white;
    font-weight: 700;
    background-color: var(--clr-dark-grey);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../../icons/arrow.svg);
    transform: rotate(-180deg);
    fill: red;
}

#settings .groupInput {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input, label {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 40px;
        line-height: 1 !important;
    }

    input {
        border: 1px solid var(--clr-light-grey);
        /*        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -khtml-border-radius: 0 10px 10px 0;*/
        background: #ffffff !important;
        outline: none;
        padding: 5px;
        padding-left: 15px;
        width: 65%;

        &:focus {
            color: var(--clr-black);
            border: 1px solid var(--clr-green)
        }

        &:active {
            border: 1px solid var(--clr-green)
        }
    }

    label {
        border: 1px solid var(--clr-green);
        /*        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -khtml-border-radius: 10px 0 0 10px;*/
        background: var(--clr-green);
        outline: none;
        padding: 5px;
        width: 35%;
        padding-left: 15px;
        padding-top: 11px;

        &:focus {
            color: var(--clr-black);
            border: 1px solid var(--clr-black)
        }
    }
}