@using StepEbay.Main.Client.Base.Pages;

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modalLogWindow">
        <div class="mborder">
            <p class="mMainHeader">З поверненням!</p>
            <p class="mMainHeader2">Для входу заповни тут:</p>
            @if (!ShowPreloader)
            {
                @if (_errors.Count > 0)
                {
                    <p class="2">@_errors.FirstOrDefault().Value[0]</p>
                }
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="text" @bind="SignInRequestDto.NickName" placeholder="Нікнейм" />
                </div>
                <div class="minputDiv">
                    <input class="minput borderColorInput" type="password" @bind="SignInRequestDto.Password" placeholder="Пароль" />
                </div>
                <div><input type="checkbox" style="cursor: pointer" @bind="RememberMe" /> Запам'ятати</div>
                <button class="mbutton mbuttonBottomLeftPos" @onclick="SignInRequest">Авторизуватись</button>
                <button class="mbutton mbuttonBottomRightPos" @onclick="ModalClose">Назад</button>
                <button class="cheatButton1" @onclick="SignInRequestAdmin">Увійти як Адміністратор</button>
                <button class="cheatButton2" @onclick="SignInRequestUser">Увійти як Користувач</button>
            }
            else
            {
                <div class="spinner-border centerOnParrentHorizontal" role="status">
                    <span class="sr-only">Завантаження...</span>
                </div>
            }
        </div>
    </div>
</div>

