<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="Author" content="W.code">
    <meta name="Copyright" content="W.code">

    <title>letter-1</title>


</head>
<style>
    body {
        background-color: #f5e642;
    }
</style>

<body>

    <!-- copy only table chapter -->
    <!-- start copy -->

    <table class="wrapper" border="0" cellpadding="0" cellspacing="0"
           style="max-width: 600px; width: 100%; margin: 0 auto; padding: 34px; border-collapse: collapse; border-spacing: 0; background-image: url('https://integroo.group/_content/Novas.Landing.Client.Base/img/sign-in/sign-in-min.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-color: #f5e642; color: #f5e642; ">

        <tbody>
            <tr>
                <td align="center"
                    style="padding-top: 35px; padding-left: 25%; padding-right: 25%; padding-bottom: 24px; width: 100%;">
                    <img style=" max-width: 532px; width: 100%; display: block; cursor: pointer;"
                         src="logo.svg" alt="">
                </td>
            </tr>
        </tbody>


        <tbody>

            <tr>

                <td align="center" style="padding: 0 5%;">
                    <div style="display: block; padding-top: 34px; padding-left: 6%; padding-right: 6%; padding-bottom: 35px;  border-collapse: collapse; border-radius: 32px; border: 1px solid #ffffff90;  border-spacing: 0; background-image: url('https://maritimus60xx.github.io/02_letters/img/shared/content-bg.png'); background-position: center center; background-size: cover; background-repeat: no-repeat; background-color: #77777760; backdrop-filter: blur(6px);">

                        <p class="subtitle"
                           style="margin-top: 5px; margin-bottom: 8px; letter-spacing: 0.13em; color: #ffffff; font-family:'Gilroy', Arial, Helvetica, sans-serif; font-weight: 700; font-size: 16px; line-height: 21px; text-align: center;">
                            {Nickname}, Вітаємо!
                        </p>

                        <p style="color: #ffffff; text-align: left; font-family: 'Gilroy', Arial, Helvetica, sans-serif;
                        font-size: 14px;
                        line-height: 17px; font-weight: 400;">
                            Дякуєм вам за реєстрацію у SmileShop.
                            Для завершення реєстрації перейдіть за посиланням!
                        </p>

                        <p style="font-weight: 600; color: #ffffff; text-align: center; font-family: 'Gilroy', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 17px;">
                            <a href="{ConfirmAddress}/{Id}/{EmailKey}" class="link" target="_blank"
                               style="color: #FFCDFF; text-decoration: underline;">{ConfirmAddress}/{Id}/{EmailKey}</a>
                        </p>
                    </div>

                </td>
            </tr>

            <tr>
                <td style="padding: 25px 15px 25px;">
                </td>
            </tr>
        </tbody>

    </table>

    <!-- end copy -->




</body>

</html>