* {
    box-sizing: border-box;
}

.mainD {
    display: flex;
    flex-direction: row;
}

.childD {
    padding: 20px;
}

.infoD {
    position:relative;
    min-width: 43%;
}

.pictureD {
    width: max-content;
}

.mainPicture {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
}

.buybutton {
    color: white;
    width: 160.58px;
    height: 38.68px;
    left: 408px;
    top: 421px;
    background: #716B6B;
    border-radius: 10px;
    border:none;
}

    .buybutton:hover {
        background: #FFA740;
    }

    .descriptionD{
        text-align:center;
    }

.descriptionHeader {
    font-size: 24px;
    font-weight: 600px;
    color: #F4A063;
}

.testD {
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 30px;
}

.like {
    margin-left: 10%;
}

.testD img{
    width:30px;
    height:30px;
}

.slideImg {
    width: 12vw;
    height: 12vh;
    object-fit: contain;
}

.slideMainD {
    width: 100%;
    padding: 20px;
}

.slideChildD {
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin: 0 auto;
    padding: 20px;
}

.slideChildD a{
    border: 1px solid grey;
}

