.productCard {
  width: 235px;
  height: 300px;
  padding: 15px;
}

.imgCard {
  width: 205px;
  height: 170px;
}

.catalogUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterBlock {
  padding-left: 15px;
  padding-top: 15px;
  width: 250px;
}
