@charset "UTF-8";
:root {
  font-family: "Nunito", sans-serif;
}

a{
    text-decoration:none;
}

.carousel-item {
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.carousel-item.item1 {
  background-image: url("../images/slider/test1.jpg");
}

.carousel-item.item2 {
  background-image: url("../images/slider/test2.jpg");
}

.carousel-item.item3 {
  background-image: url("../images/slider/test3.jpg");
}

.categoryContent {
    height: 230px;
    width:100%;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

.categoryLink{
    font-size: 1em;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}
.categoryLink:after {
  content: "";
  position: relative;
  background-color: #000;
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 48%);
          clip-path: polygon(0 0, 0 100%, 39% 48%);
}
.categoryLink:active, .categoryLink:focus {
  color: #000;
}
.categoryLink:hover {
  color: #333333;
}

.categoryContent.clothes {
  background-color: #c1ff9b;
  background-image: url("../images/dress.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.categoryContent.phones {
  background-color: #ffd362;
  background-image: url("../images/phones.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 75%;
}
.categoryContent.beauty {
  background-color: #ffd9d3;
  background-image: url("images/краса.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 90%;
}
.categoryContent.sport {
  background-color: #85fdc9;
  background-image: url("images/спорт.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 80%;
  background-position: center;
}
.categoryContent.catalogue {
  background-color: #18f8ea;
  background-image: url("images/каталог.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position: center;
}
.categoryContent.toys {
  background-color: #e4ff1a;
  background-image: url("../images/bear.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

#menubg1 {
  position: relative;
  min-height: 100px;
}

#menubg2 {
  position: relative;
  min-height: 100px;
  display: none;
}

#menu {
  position: fixed;
  z-index: 100;
}
#menu .logo {
  background-image: url("images/LOGO.svg");
}
#menu .logo:hover {
  cursor: pointer;
}
#menu .icon1 {
  background-image: url("images/icon_basket.svg");
}
#menu .icon1:hover {
  cursor: pointer;
  background-image: url("images/icon basket active.svg");
}
#menu .icon2 {
  background-image: url("images/profile_icon.svg");
}
#menu .icon2:hover {
  cursor: pointer;
}

#menu .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .search {
  padding: 15px;
}
#menu .icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#menu .icon {
  margin: 0 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#menu .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 0;
}
#menu .navMenu li a {
  text-decoration: none;
  color: #045316;
  font-weight: 700;
  white-space: nowrap;
}
#menu .navMenu li a:hover {
  color: #8BC65D;
}
#menu .navMenu li a:active, #menu .navMenu li a:focus {
  color: #FF8A00;
}
#menu .navMenu li.current a {
  color: #FF8A00;
}

@media screen and (max-width: 576px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../images/phones.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../images/buaty.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../images/sport.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../images/katalog.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../images/bear.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (max-width: 360px) {
  .categoryContent {
    height: 80px;
  }
}
@media screen and (max-width: 576px) {
  #size::before {
    content: "col max-width: 576px";
  }
}
@media screen and (min-width: 577px) {
  #size::before {
    content: "sm min-width: 577px";
  }
}
@media screen and (min-width: 577px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../images/phones.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../images/buaty.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../images/sport.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../images/katalog.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../images/bear.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 768px) {
  #size::before {
    content: "md min-width: 768px";
  }
}
@media screen and (min-width: 768px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../images/phones.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../images/buaty.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../images/sport.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../images/katalog.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../images/bear.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 992px) {
  #size::before {
    content: "lg min-width: 992px";
  }
}
@media screen and (min-width: 992px) {
  .categoryContent {
    height: 200px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../images/phones.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../images/buaty.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../images/sport.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../images/katalog.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../images/bear.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 1200px) {
  #size::before {
    content: "xxl min-width: 1200px";
  }
}
@media screen and (min-width: 1200px) {
  .categoryContent {
    height: 230px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../images/phones.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../images/buaty.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../images/sport.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../images/katalog.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../images/bear.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}