@charset "UTF-8";
:root {
  font-family: "Nunito", sans-serif;
}

.mGrid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 7fr 4fr;
}
.mGrid .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.mGrid .mSearch {
  padding-top: 15px;
}
.mGrid .icons {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(15px, auto);
}
.mGrid .icons .icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.mGrid .catalog {
  border-right: 1px solid gray;
  padding-left: 15px;
}
.mGrid .catalog::before {
  content: "▲";
  width: 1em;
  height: 1em;
  font-weight: 900;
}
.mGrid .mNav {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(15px, auto);
}
.mGrid .mNav .mNavItem a {
  color: red;
  text-decoration: none;
}
.mGrid .buttons {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(15px, auto);
}
.mGrid .buttons .mBtn {
  padding: 2px 5px;
  border: 1px solid red;
  background: rgba(255, 165, 0, 0.5);
  color: red;
  border-radius: 5px;
  text-align: center;
}
.mGrid .buttons .mBtn:hover {
  background: rgba(255, 165, 0, 0.3);
}

.mGrid .logo {
  background-image: url("images/logo.png");
}
.mGrid .icons .icon1 {
  background-image: url("images/logo.png");
}
.mGrid .icons .icon2 {
  background-image: url("images/logo.png");
}
.mGrid .icons .icon3 {
  background-image: url("images/logo.png");
}

.categoryContent {
  height: 230px;
  border-radius: 20px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.categoryContent a {
  font-size: 1em;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
}
.categoryContent a:after {
  content: "";
  position: relative;
  margin-left: 5px;
  height: 1em;
  width: 1em;
  background-color: #000;
  -webkit-clip-path: polygon(0 0, 0 100%, 39% 48%);
          clip-path: polygon(0 0, 0 100%, 39% 48%);
}
.categoryContent a:active, .categoryContent a:focus {
  color: #000;
}
.categoryContent a:hover {
  color: #333333;
}

.categoryContent.clothes {
  background-color: #c1ff9b;
  background-image: url("images/плаття.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.categoryContent.phones {
  background-color: #ffd362;
  background-image: url("images/телефони.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 75%;
}
.categoryContent.beauty {
  background-color: #ffd9d3;
  background-image: url("images/краса.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 90%;
}
.categoryContent.sport {
  background-color: #85fdc9;
  background-image: url("images/спорт.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 80%;
  background-position: center;
}
.categoryContent.catalogue {
  background-color: #18f8ea;
  background-image: url("images/каталог.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position: center;
}
.categoryContent.toys {
  background-color: #e4ff1a;
  background-image: url("images/медвідь.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 576px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (max-width: 360px) {
  .categoryContent {
    height: 80px;
  }
}
@media screen and (max-width: 576px) {
  #size::before {
    content: "col max-width: 576px";
  }
}
@media screen and (min-width: 577px) {
  #size::before {
    content: "sm min-width: 577px";
  }
}
@media screen and (min-width: 577px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 768px) {
  #size::before {
    content: "md min-width: 768px";
  }
}
@media screen and (min-width: 768px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 992px) {
  #size::before {
    content: "lg min-width: 992px";
  }
}
@media screen and (min-width: 992px) {
  .categoryContent {
    height: 200px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (min-width: 1200px) {
  #size::before {
    content: "xxl min-width: 1200px";
  }
}
@media screen and (min-width: 1200px) {
  .categoryContent {
    height: 230px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}/*# sourceMappingURL=style.css.map */