<h3>Main</h3> 

<AuthorizeView>
     
 <Authorized>
      <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="PlaceBet">Поставити ставку</button>  @*тест*@
 </Authorized>

     <NotAuthorized>
         <SignIn></SignIn>
     </NotAuthorized>
 </AuthorizeView>