@using StepEbay.Common.Constans
@using StepEbay.Main.Client.Base.Components.SignUp
<h3>Main</h3>

@if (!ShowPreloader)
{
    @if (ShowModal)
    {
        <ModalDialog Title="@MessageConfirmReg.FirstOrDefault().Key" Text="@MessageConfirmReg.FirstOrDefault().Value" OnClose='@CloseModal' />
    }
    <AuthorizeView>
        <NotAuthorized>
            <div>
                <button class="signInbutton" @onclick="ShowSignIn">Увійти</button>
                <button class="signUpbutton" @onclick="ShowSignUp">Реєстрація</button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
    <div>
        <a href="products/@ProductCategoryIdConstant.CLOTH"><img style="width:50px; height:50px;" src="icons/category_cloth.jpg"/><div>Одяг</div></a>
        <a href="products/@ProductCategoryIdConstant.TELEPHONE"><img style="width:50px; height:50px;" src="icons/category_phone.jpg"/><img src="icons/category_phone2.jpg"/><div>Телефони</div></a>
        <a href="products/@ProductCategoryIdConstant.BUATY"><img style="width:50px; height:50px;" src="icons/category_buaty.jpg"/><img src="icons/category_buaty2.jpg"/><div>Краса</div></a>
        <a href="products/@ProductCategoryIdConstant.SPORT"><img style="width:50px; height:50px;" src="icons/category_sport.jpg"/><img src="icons/category_sport2.jpg"/><img src="icons/category_sport3.jpg"/><div>Спорт</div></a>
        <a href="products/0"><img style="width:50px; height:50px;" src="icons/category_all.jpg"/><div>Каталог</div></a>
    </div>

    <AuthorizeView>
        <Authorized>
            <a href="personal/products">До ваших покупок</a>
            <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="PlaceBet">Поставити ставку</button>  @*тест*@
            <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="Show">тест пуш повідомлення</button>
        </Authorized>

        <NotAuthorized>
            @if (ShowSignInModal)
            {
                <SignIn OnClose='@CloseSignInModal'></SignIn>
            }
            @if (ShowSignUpModal)
            {
                <SignUp OnClose='@CloseSignUpModal'></SignUp>
            }
        </NotAuthorized>
    </AuthorizeView>
}
else
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Завантаження...</span>
    </div>
}