<h3>Main</h3>

@if (!ShowPreloader)
{
    @if (ShowModal)
    {
        <ModalDialog Title="@MessageConfirmReg.FirstOrDefault().Key" Text="@MessageConfirmReg.FirstOrDefault().Value" OnClose='@CloseModal' />
    }

    <AuthorizeView>

        <Authorized>
            <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="PlaceBet">Поставити ставку</button>  @*тест*@
            <button class="btn btn-outline-primary centerOnParrentHorizontal" @onclick="Show">тест пуш повідомлення</button>
        </Authorized>

        <NotAuthorized>
            <SignIn></SignIn>
        </NotAuthorized>
    </AuthorizeView>

    <li><a href="productList">Всі</a></li>
    @foreach (var category in _categories)
    {
        <li><a href="productList/@category.Id">@category.Name</a></li>
    }
}
else
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Завантаження...</span>
    </div>
}