@using StepEbay.Common.Constans
@using StepEbay.Main.Api
@if (!ShowPreloader)
{
    @if (ShowModal)
    {
        <ModalDialog Title="@MessageConfirmReg.FirstOrDefault().Key" Text="@MessageConfirmReg.FirstOrDefault().Value" OnClose='@CloseModal' />
    }

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item item1 active"></div>
            <div class="carousel-item item2"></div>
            <div class="carousel-item item3"></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl">
                    <a class="categoryLink" href="products/@ProductCategoryIdConstant.CLOTH">
                        <div class="categoryContent clothes">
                            <span>Одяг</span>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-4 col-lg-1 col-lg-3 col-xxl-2">
                    <a class="categoryLink" href="products/@ProductCategoryIdConstant.TELEPHONE">
                        <div class="categoryContent phones">
                            <span>Телефони</span>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a class="categoryLink" href="products/@ProductCategoryIdConstant.BUATY">
                        <div class="categoryContent beauty">
                            <span>Краса</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-6 col-xxl">
                    <a class="categoryLink" href="products/@ProductCategoryIdConstant.SPORT">
                        <div class="categoryContent sport">
                            <span>Спорт</span>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-4 col-lg-1 col-lg-3 col-xxl-2">
                    <a class="categoryLink" href="products/0">
                        <div class="categoryContent catalogue">
                            <span>Каталог</span>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a class="categoryLink" href="products/@ProductCategoryIdConstant.TOY">
                        <div class="categoryContent toys">
                            <span>Іграшки</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="spinner-border centerOnParrentHorizontal" role="status">
        <span class="sr-only">Завантаження...</span>
    </div>
}