#menubg1 {
    position: relative;
    min-height: 100px;
}

#menubg2 {
    position: relative;
    min-height: 100px;
    display: none;
}

#menu {
    padding: 15px 0 15px 0;
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
}
    
#menu .logo {
    background-image: url("../../images/LOGO.svg");
    width:100%;
    height:100%;
}
        
#menu .logo:hover {
    cursor: pointer;
}

    #menu input[type="search"] {
        border: 1px solid #cccccc;
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -khtml-border-radius: 10px 0 0 10px;
        background: #ffffff !important;
        outline: none;
        padding: 5px;
        padding-left: 15px;
        width: 80%;
    }

#menu input[type="search"]:focus {
    color: #000000;
    border: 1px solid #000000
}

    #menu button[type="submit"] {
        border: 1px solid #8BC65D;
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -khtml-border-radius: 0 10px 10px 0;
        background: #8BC65D;
        outline: none;
        padding-left: 5px;
        width: 20%;
    }

        #menu button[type="submit"]:focus {
            color: #000000;
            border: 1px solid #000000
        }

    #menu .burger {
        display:flex;
        justify-content:end;
        align-items:center;
    }

#menu .btn-burger {
    width: 3.5em;
    height: 3.5em;
    background-color: #8BC65D;
    position: relative;
    border-radius: 10px;
}

    #menu .btn-burger:before {
        content: '';
        position:absolute;
        width:40%;
        height:40%;
        top:10%;
        left:10%;
        background-color:white;
        border-radius:50%;
        z-index:2;
        transition:.3s;
    }

        #menu .btn-burger:hover {
            background-color: #FFA740;
        }

            #menu .btn-burger:hover:before {
                background-color: #FFA740;
                top: 50%;
                left: 50%;
            }

#drop-down-menu {
    position: fixed;
    height: 300px;
    width: 100%;
    background-color: white;
    top: -300px;
    z-index: 100;
    transition: .3s;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    overflow:hidden;
}

    #drop-down-menu .bg-empty {
        width: 100%;
        height: 100px;
        background-color: white;
    }

    #drop-down-menu .dropdownmenu-nav {
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        height: 100%;
        background-color: white;
    }

    #drop-down-menu .dropdownmenu-nav ul{
        padding:0;
        list-style:none;
    }
        #drop-down-menu .dropdownmenu-nav a {
            color: gray;
            text-decoration: none;
            transition: 2s cubic-bezier( 0, 1.02, 0.52, 0.31 );
        }

            #drop-down-menu .dropdownmenu-nav a:hover {
                color: #8BC65D;
                text-decoration: none;
            }

.catalog.dropdown-menu.show {
    position: absolute !important;
    top: 25px !important;
}

.mpos-dropdown-menu.dropdown-menu.show {
    color:green;
    position: absolute !important;
    top: 50px !important;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
}

    .mpos-dropdown-menu.dropdown-menu.show li a {
        text-decoration: none;
        color: #045316;
        font-weight: 700;
        white-space: nowrap;
    }

        .mpos-dropdown-menu.dropdown-menu.show li a:hover {
            color: #8BC65D;
        }


#menu .icon1 {
    background-image: url("../../images/icon_basket.svg");
}

    #menu .icon1:hover {
        cursor: pointer;
        background-image: url("../../images/icon_basket_active.svg");
    }

#menu .icon2 {
    background-image: url("../../images/profile_icon.svg");
}

    #menu .icon2:hover {
        cursor: pointer;
        background-image: url("../../images/icon_profile_active.svg");
    }

#menu .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

#menu .search {
    padding: 15px;
}

#menu .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu .icon {
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#menu .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 0;
}

    #menu .navMenu li a {
        text-decoration: none;
        color: #045316;
        font-weight: 700;
        white-space: nowrap;
    }

        #menu .navMenu li a:hover {
            color: #8BC65D;
        }

        #menu .navMenu li a:active, #menu .navMenu li a:focus {
            color: #FF8A00;
        }

    #menu .navMenu li.current a {
        color: #FF8A00;
    }
