.modalWindow {
  position: relative;
  width: 400px;
  height: 425px;
  margin: 0.5rem auto;
}

.modalLogWindow {
  position: relative;
  width: 400px;
  height: 325px;
  margin: 0.5rem auto;
}

.mborderError {
  border: 3px solid #e41b1b;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: white;
}

.mborder {
  border: 3px solid #2EB4AB;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: white;
}

.borderColorInput {
  border: 2px solid #39DDD3;
}

.borderColorInputError {
  border: 2px solid #e41b1b;
}

.minput {
  border-radius: 7px;
  padding-left: 8px;
  width: 100%;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.minput:focus {
  border-color: #AFC75D;
}

.signInbutton {
  background: #2EB4AB;
  position: absolute;
  top: 8%;
  right: 3%;
  width: 120px;
  height: 46px;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.signUpbutton {
  background: #2EB4AB;
  position: absolute;
  top: 8%;
  right: 15%;
  width: 120px;
  height: 46px;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.cheatButton1 {
  position: absolute;
  bottom: -20%;
}

.cheatButton2 {
  position: absolute;
  bottom: -30%;
}

.mbuttonBottomLeftPos {
  position: absolute;
  bottom: 5%;
}

.mbuttonBottomRightPos {
  position: absolute;
  bottom: 5%;
  right: 7%;
}

.mbutton {
  background: #2EB4AB;
  width: 165px;
  height: 46px;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.mbutton:hover {
  text-decoration: underline;
}
.mbutton:active {
  color: black;
  text-decoration: underline;
  border: 1px solid #2EB4AB;
}

.mMainHeader {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.mMainHeader2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.errorH {
  margin-bottom: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1px;
  color: #E41B1B;
  text-align: center;
}

.errorP {
  margin-bottom: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1px;
  color: #E41B1B;
}
