@charset "UTF-8";
@media screen and (min-width: 768px) {
  #size::before {
    content: "md min-width: 768px";
  }
}
@media screen and (min-width: 768px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../../../images/dress.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
    .categoryContent.phones {
        background-color: #ffd362;
        background-image: url("../../../images/phones.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 85%;
    }
    .categoryContent.beauty {
        background-color: #ffd9d3;
        background-image: url("../../../images/buaty.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 90%;
    }
    .categoryContent.sport {
        background-color: #85fdc9;
        background-image: url("../../../images/sport.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto 100%;
        background-position: right;
    }
    .categoryContent.catalogue {
        background-color: #18f8ea;
        background-image: url("../../../images/katalog.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-position: right;
    }
    .categoryContent.toys {
        background-color: #e4ff1a;
        background-image: url("../../../images/bear.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}
