@charset "UTF-8";
@media screen and (max-width: 576px) {
  .categoryContent {
    height: 120px;
  }
  .categoryContent.clothes {
    background-color: #c1ff9b;
    background-image: url("../../../images/плаття.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .categoryContent.phones {
    background-color: #ffd362;
    background-image: url("../../../images/телефони.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 85%;
  }
  .categoryContent.beauty {
    background-color: #ffd9d3;
    background-image: url("../../../images/краса2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 90%;
  }
  .categoryContent.sport {
    background-color: #85fdc9;
    background-image: url("../../../images/спорт2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 100%;
    background-position: right;
  }
  .categoryContent.catalogue {
    background-color: #18f8ea;
    background-image: url("../../../images/каталог 2222.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: right;
  }
  .categoryContent.toys {
    background-color: #e4ff1a;
    background-image: url("../../../images/медвідь.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
@media screen and (max-width: 360px) {
  .categoryContent {
    height: 80px;
  }
}
@media screen and (max-width: 576px) {
  #size::before {
    content: "col max-width: 576px";
  }
}
