$clrYellow: #e4ff1a;
$clrAqua: #18f8ea;
$mainRose: #ffd9d3;
$mainOrange: #ffd362;
$mainGreen: #85fdc9;
$mainMintgreen: #c1ff9b;
$mainBlack: #000;
//________________________________________________________________
//сol
@media screen and (min-width: 577px) {
  #size::before {
    content: "sm min-width: 577px";
  }
}

@media screen and (min-width: 577px) {
    @mixin bg($img, $bg) {
        background-color: $bg;
        background-image: url($img);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .categoryContent {
        height: 120px;

        &.clothes {
            @include bg($img: "../../../images/плаття.png", $bg: $mainMintgreen);
        }

        &.phones {
            @include bg($img: "../../../images/телефони.png", $bg: $mainOrange);
            background-size: auto 85%;
        }

        &.beauty {
            @include bg($img: "../../../images/краса2222.png", $bg: $mainRose);
            background-size: auto 90%;
        }

        &.sport {
            @include bg($img: "../../../images/спорт2222.png", $bg: $mainGreen);
            background-size: auto 100%;
            background-position: right;
        }

        &.catalogue {
            @include bg($img: "../../../images/каталог 2222.png", $bg: $clrAqua);
            background-position: right;
        }

        &.toys {
            @include bg($img: "../../../images/медвідь.png", $bg: $clrYellow);
        }
    }
}


//________________________________________________________________
//sm