@use 'mainLayout/menu';
@use 'mainLayout/footer';
@use 'mainLayout/modal';
@use 'pages/productListPage';
@use 'pages/personalPage';
@use 'pages/settings';
@use 'pages//homePageElements/category';
@use 'pages//homePageElements/slider';

body {
    background-color: white;
}

.mt-20 {
    margin-top: 20px;
}

.mt-13 {
    margin-top: 13px;
}

.pl-15 {
    padding-left: 15px;
}
