@use 'mainLayout/menu';
@use 'mainLayout/footer';
@use 'mainLayout/modal';
@use 'pages/productListPage';
@use 'pages/personalPage';
@use 'pages/settings';
@use 'pages/productPage';
@use 'pages/addProduct';
@use 'pages//homePageElements/category';
@use 'pages//homePageElements/slider';

body {
    background-color: white;
}

.mt-20 {
    margin-top: 20px;
}

.mt-13 {
    margin-top: 13px;
}

.pl-15 {
    padding-left: 15px;
}

@media screen and (max-width: 576px) {
    #settings .mHeight {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 60px;
    }

    #settings .mHeightL {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 60px;
        display:flex;
        align-items:center;
    }
}