#menu {
  background-color: white;
  position: fixed;
  z-index: 100;
  padding: 15px 0 15px 0;
  height: 90px;
  -webkit-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
}

#menu .logo {
  background-image: url("../../../images/LOGO.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
#menu .logo:hover {
  cursor: pointer;
}

#menu .search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu .search input[type=search] {
  border: 1px solid var(--clr-light-grey);
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -khtml-border-radius: 10px 0 0 10px;
  background: #ffffff !important;
  outline: none;
  padding: 5px;
  padding-left: 15px;
  width: 80%;
  height: 75%;
}
#menu .search input[type=search]:focus {
  color: var(--clr-black);
  border: 1px solid var(--clr-green);
}
#menu .search input[type=search]:active {
  border: 1px solid var(--clr-green);
}
#menu .search button[type=submit] {
  border: 1px solid var(--clr-green);
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  background: var(--clr-green);
  outline: none;
  height: 75%;
  padding: 5px;
  width: 20%;
}
#menu .search button[type=submit]:focus {
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
}

#menu .burger {
  display: flex;
  justify-content: end;
  align-items: center;
}
#menu .burger .btn-burger {
  width: 60px;
  height: 60px;
  background-color: var(--clr-green);
  position: relative;
  border-radius: 10px;
}
#menu .burger .btn-burger:before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  top: 10%;
  left: 10%;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  transition: 0.3s;
}
#menu .burger .btn-burger:hover {
  background-color: var(--clr-orange);
}
#menu .burger .btn-burger:hover:before {
  background-color: var(--clr-orange);
  top: 50%;
  left: 50%;
}

#menu .burger {
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}
#menu .burger .flip-card {
  background-color: transparent;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  overflow: hidden;
}
#menu .burger .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#menu .burger .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
#menu .burger .flip-card-front, #menu .burger .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
#menu .burger .flip-card-front {
  background: url(../../../icons/catBody-01.svg);
  background-color: #FFA740;
  color: black;
}
#menu .burger .flip-card-back {
  background: url(../../../icons/catFace-01.svg);
  background-color: #8BC65D;
  color: white;
  transform: rotateY(180deg);
}
#menu .burger .flip-card-active {
  background: url(../../../icons/catFace-01.svg);
  background-color: #ddd;
  width: 100%;
  height: 100%;
}

#drop-down-menu {
  position: fixed;
  min-height: 300px;
  padding-top: 105px;
  background-color: cadetblue;
  top: -300px;
  z-index: 99;
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

footer {
  min-height: 300px;
  width: 100%;
  background-color: #716B6B;
  display: flex;
  /*position:absolute;*/
  bottom: 0;
  flex-direction: column;
  align-items: center;
}
footer h2 {
  padding: 45px 0px 30px 0px;
  color: white;
  font-family: "Caveat";
}
footer h6 {
  display: inline-block;
  padding: 30px 15px 0px 15px;
  font-family: "Caveat";
}
footer h6 > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.footer-icons div {
  background-color: #333;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
.footer-icons div p {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: white;
  width: 100%;
  height: 100%;
}

.footer {
  height: 300px;
  width: 100%;
}

.modalLogWindow {
  position: relative;
  width: 400px;
  height: 325px;
  margin: 0.5rem auto;
}

.modalWindow {
  position: relative;
  width: 400px;
  height: 425px;
  margin: 0.5rem auto;
}

.modalLogWindow input[type=text], .modalLogWindow input[type=password], .modalLogWindow input[type=email], .modalWindow input[type=text], .modalWindow input[type=password], .modalWindow input[type=email] {
  border-radius: 7px;
  padding-left: 8px;
  width: 100%;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 2px solid #8BC65D;
}
.modalLogWindow input[type=text]:focus, .modalLogWindow input[type=password]:focus, .modalLogWindow input[type=email]:focus, .modalWindow input[type=text]:focus, .modalWindow input[type=password]:focus, .modalWindow input[type=email]:focus {
  border-color: #AFC75D;
}

.error input {
  border: 2px solid #DA1A1A !important;
}
.error p {
  margin-bottom: 8px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1px;
  color: #DA1A1A;
}

.closeButton {
  background-color: white;
  position: absolute;
  top: 1%;
  right: 4%;
  border: 0;
  color: #8BC65D;
  font-size: 25px;
}
.closeButton:hover {
  color: #FFA740;
}

.mborder {
  border: 3px solid #8BC65D;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  background: white;
}

.header {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Nunito";
}

.textBlock {
  width: 310px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

#palka {
  margin: 7px auto;
  width: 310px;
  height: 3px;
  background: #8BC65D;
}

.mbutton {
  background: #8BC65D;
  width: 165px;
  height: 46px;
  border: 0px;
  border-radius: 7px;
  color: white;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.mbutton:hover {
  text-decoration: underline;
  background-color: #FFA740;
}

.mbuttonBottomLeftPos {
  position: absolute;
  bottom: 5%;
}

.mbuttonBottomRightPos {
  position: absolute;
  bottom: 5%;
  right: 7%;
}

.mMainHeader {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.mMainHeader2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

.mainBlock {
  padding: 100px 25px 0 25px;
  display: flex;
  flex-direction: row;
}

.filterBlock {
  padding-left: 15px;
  padding-top: 15px;
  min-width: 200px;
  color: #272727;
}
.filterBlock input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  border: 2px solid #8BC65D;
  width: 17px;
  height: 17px;
  border-radius: 5px;
}
.filterBlock input[type=checkbox]:checked {
  background-color: #8BC65D;
}
.filterBlock input[type=number] {
  width: 100px;
  border: 2px solid #8BC65D;
  border-radius: 12px;
  padding-left: 6px;
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.filterButton {
  width: 120px;
  height: 36px;
  background: #8BC65D;
  border-radius: 10px;
  border: 2px solid #8BC65D;
  color: #FFFFFF;
}
.filterButton:hover {
  background-color: #FFA740;
  border: 2px solid #FFA740;
}

.catalogBlock {
  min-height: 90%;
  padding-top: 15px;
  padding-left: 15px;
}
.catalogBlock ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.productCard {
  position: relative;
  width: 280px;
  height: 400px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0px;
  border: 1px solid #8BC65D;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.productCard button {
  position: absolute;
  height: 60px;
  width: 100%;
  color: white;
  background: #8BC65D;
  font-weight: 1000;
  bottom: 0px;
  border: 0px;
  border-radius: 0px 0px 5px 5px;
}
.productCard button:hover {
  background: #FFA740;
}
.productCard img {
  border-radius: 6px;
  object-fit: cover;
}
.productCard:hover {
  border: 1px solid #FFA740;
}
.productCard a {
  color: black;
  text-decoration: none;
}
.productCard a:hover {
  color: black;
}

.descriptionBlock {
  height: 40px;
}

#aution {
  position: absolute;
  background: url(../images/auction.svg);
  background-size: cover;
  width: 60px;
  height: 60px;
  top: 3px;
  right: 3px;
}

.imgCard {
  width: 100%;
  height: 185px;
}

.testP input[type=checkbox] {
  margin-right: 5px;
}

.checkedColor {
  color: #429600;
}

.pagePagination {
  display: flex;
  flex-direction: row;
  border: 1px solid #8BC65D;
  width: fit-content;
  border-radius: 15px;
  text-align: center;
}
.pagePagination > div {
  width: 50px;
  height: 36px;
}
.pagePagination button {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0px;
  border-radius: 15px;
}
.pagePagination div {
  position: relative;
}
.pagePagination span {
  margin: 0px;
  margin-left: -5px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.borderRight {
  border-right: 1px solid #8BC65D;
}

.prevPageImg {
  background: url("../images/prevPage.png");
  background-repeat: no-repeat;
  background-position: center;
}

.currPage {
  color: #FFA740;
}

.prevPageImg {
  background: url("../../../images/prevPage.png");
  background-repeat: no-repeat;
  background-position: center;
}

.nextPageImg {
  background: url("../../../images/nextPage.png");
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: white;
}

.mt-20 {
  margin-top: 20px;
}

.mt-13 {
  margin-top: 13px;
}

.pl-15 {
  padding-left: 15px;
}
