<h3>Акаунт</h3>
<input type="text" placeholder="nick name" @bind-value="_request.NickName" />
<br />
<input type="email" placeholder="Пошта" @bind-value="_request.Email" />
<br />
<input type="password" placeholder="Пароль" @bind-value="_request.Password" />
<br />
<input type="password" placeholder="Повторіть пароль" @bind-value="_request.PasswordRepeat" />
<br />
<input type="text" placeholder="Повне Ім'я" @bind-value="_request.FullName" />
<br />
<input type="text" placeholder="Адреса" @bind-value="_request.Adress" />
<br />
<hr />
<input type="password" placeholder="Старий пароль для підтвердження" @bind-value="_request.OldPasswordForConfirm" />
<br />
<hr />
<button @onclick="UpdatePerson">Змінити</button>