<div class="flexBlock">
    <AuthorizeView>
        <Authorized>
            <div class="header">
                <span>Налаштування аккаунту</span>
            </div>
            <div>
                <input type="text" placeholder="nick name" @bind-value="_request.NickName" />
            </div>
            <div>
                <input type="email" placeholder="Пошта" @bind-value="_request.Email" />
            </div>
            <div>
                <input type="password" placeholder="Пароль" @bind-value="_request.Password" />
            </div>
            <div>
                <input type="password" placeholder="Повторіть пароль" @bind-value="_request.PasswordRepeat" />
            </div>
            <div>
                <input type="text" placeholder="Повне Ім'я" @bind-value="_request.FullName" />
            </div>
            <div>
                <input type="text" placeholder="Адреса" @bind-value="_request.Adress" />
            </div>
            <div>
                <input type="password" placeholder="Старий пароль для підтвердження" @bind-value="_request.OldPasswordForConfirm" />
            </div>
            <button @onclick="UpdatePerson">Змінити</button>
            <button class="btn btn-outline-danger centerOnParrentHorizontal" @onclick="Logout">Вийти</button>
        </Authorized>
    </AuthorizeView>
</div>