//сol
@media screen and (max-width: 576px) {
  .categoryContent {
    height: 120px;
    &.clothes {
      @include bg($img: "images/плаття.png", $bg: $mainMintgreen);
    }
    &.phones {
      @include bg($img: "images/телефони.png", $bg: $mainOrange);
      background-size: auto 85%;
    }
    &.beauty {
      @include bg($img: "images/краса2222.png", $bg: $mainRose);
      background-size: auto 90%;
    }
    &.sport {
      @include bg($img: "images/спорт2222.png", $bg: $mainGreen);
      background-size: auto 100%;
      background-position: right;
    }
    &.catalogue {
      @include bg($img: "images/каталог 2222.png", $bg: $clrAqua);
      background-position: right;
    }
    &.toys {
      @include bg($img: "images/медвідь.png", $bg: $clrYellow);
    }
  }
}
//________________________________________________________________
//сol
@media screen and (max-width: 360px) {
  .categoryContent {
    height: 80px;
  }
}
//________________________________________________________________
//сol
@media screen and (max-width: 576px) {
  #size::before {
    content: "col max-width: 576px";
  }
}
//________________________________________________________________
