.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.mSearch {
  padding-top: 15px;
}

.icon {
  height: 3em;

  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
}


.catalog {
  border-right: 1px solid gray;
  padding-left: 15px;
}
.catalog::before {
  content: "▲";
  width: 1em;
  height: 1em;
  font-weight: 900;
}

  .mNavItem a {
    color: red;
    text-decoration: none;
  }

