#menubg1 {
  position: relative;
  min-height: 100px;
}
#menubg2 {
  position: relative;
  min-height: 100px;
  display: none;
}


#menu {
  position: fixed;
  // background:#fff;
  z-index: 100;
  .logo {
    background-image: url("images/LOGO.svg");

    &:hover {
      cursor: pointer;
    }
  }
  .icon1 {
    background-image: url("images/icon_basket.svg");
    &:hover {
      cursor: pointer;
      background-image: url("images/icon basket active.svg");
    }
  }
  .icon2 {
    background-image: url("images/profile_icon.svg");
    &:hover {
      cursor: pointer;
    }
  }
}

#menu {
  //--1rst row---------------------
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .search {
    padding: 15px;
  }

  .icons {   
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .icon {
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  //--2nd row---------------------

  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 0;

    & li a {

      text-decoration: none;
      color: $darkGreen;
      font-weight: 700;
      white-space: nowrap;
    }

    & li a {
      &:hover {
        color: $lightGreen;
      }
      &:active,
      &:focus {
        color: $pastelOrange;
      }
    }
    & li.current a {
      color: $pastelOrange;
    }
  }
}
