@using StepEbay.Main.Client.Base.Components.Auth
@using StepEbay.Main.Client.Base.Pages
@inherits LayoutComponentBase

<div class="page">

    <AuthorizeView Roles="admin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <!-- *************************************** -->
    <!--start nav-->
    <div id="menubg1" class="d-none d-sm-block">
        <div id="menu" class="container-fluid">
            <div class="container">
                <!-- ** 1st row ** -->
                <div class="row">
                    <!-- logo -->
                    <div class="logo col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-2"></div>
                    <!-- search -->
                    <div class="search col-7 col-sm-7 col-md-8 col-lg-7 col-xl-6 col-xxl-7">
                        <div class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search" @bind="SearchRequest" />
                            <button class="btn btn-outline-success" type="submit" @onclick="Search">
                                Пошук
                            </button>
                        </div>
                    </div>
                    <!-- empty bock -->
                    <div class="empty d-none d-md-block col-md-1 col-lg-2 col-xl-3 col-xxl-1"></div>
                    <!-- icons -->
                    <div class="icons col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        <AuthorizeView>
                            <Authorized>
                                <a class="icon1 icon" href="personal/products"></a>
                                <a class="icon2 icon" href="personal/products"></a>
                            </Authorized>

                            <NotAuthorized>
                                <a class="icon2 icon" @onclick="ShowSignModal"></a>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>

                <!-- ** 2nd row ** -->
                <div class="row">
                    <ul class="navMenu col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5">

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="/products/0" id="dropdownMenuLink" data-bs-toggle="dropdown"
                               aria-expanded="false">Каталог</a>


                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                dfdsf
                            </ul>
                        </li>


                        <li class="navItem">
                            <a href="#">Головна</a>
                        </li>
                        <li class="navItem">
                            <a href="#">% Знижки</a>
                        </li>
                        <li class="navItem">
                            <a href="#">Про нас</a>
                        </li>
                        <li class="navItem">
                            <a href="#">Контакти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end nav-->
    <!--start nav-->
    <div id="menubg2" class="d-block d-sm-none">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand col-2 col-sm-2 col-md-1" href="#">
                    <img src="images/LOGO.svg" alt="" width="100%" class="d-inline-block align-text-top">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">% Знижки</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/products/0" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Каталог
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Про нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Контакти</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!--end nav-->

    <div class="main">

        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(@UserName))
            {
                <p>@UserName</p>
            }

            <AuthorizeView>
                <NotAuthorized>
                    @if (IsShowSignModal)
                    {
                        <SignModal OnClose='@CloseSignModal'></SignModal>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
            <PushMessageContainer Position="MessagePosition.BottomRight" TimeOut="5" />
        </div>
    </div>
</div>