@using StepEbay.Main.Client.Base.Components.Auth
@using StepEbay.Main.Client.Base.Components.SignUp
@using StepEbay.Main.Client.Base.Pages
@inherits LayoutComponentBase

<div class="page">

    <AuthorizeView Roles="admin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>


    <div class="main">

        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(@UserName))
            {
                <p>@UserName</p>
            }

            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-outline-danger centerOnParrentHorizontal" @onclick="Logout">Вийти</button>
                </Authorized>

                <NotAuthorized>
                    <div class="buttonContainer">
                        <button class="conButton signInbutton" @onclick="ShowSignIn">Увійти</button>
                        <button class="conButton signUpbutton" @onclick="ShowSignUp">Реєстрація</button>
                    </div>
                    @if (ShowSignInModal)
                    {
                        <SignIn OnClose='@CloseSignInModal'></SignIn>
                    }

                    @if (ShowSignUpModal)
                    {
                        <SignUp OnClose='@CloseSignUpModal'></SignUp>
                    }

                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
            <PushMessageContainer Position="MessagePosition.BottomRight" TimeOut="5" />
        </div>
    </div>
</div>